<%- include('head') %> <%- include('header') %>
<div class="member">
	<h1><%= name %></h1>
	<p><%= phoneNumber %></p>
	<p><%= date %></p>
	<p><%= email %></p>
	<p><%= dogName %></p>
</div>

<%- include('footer') %>
