<%- include('head') %> <%- include('header') %>
<section class="content-container">
	<div class="content">
		<div class="member-container">
			<h1><%= name %></h1>
			<p>Phone: <%= phoneNumber %></p>
			<p>Date: <%= date %></p>
			<p>Email: <%= email %></p>
			<p>Dogs Name: <%= dogName %></p>
		</div>

		<div class="button-container">
			<a href="/member/delete/<%=id %>" class="member">DELETE</a>
			<a href="/member/edit/<%=id %>" class="member">EDIT</a>
		</div>
	</div>
</section>

<%- include('footer') %>
